body {
    height: 100%;
    /* width: 50%; */
    padding: 50px;
    margin: 0px;
    background-color: #FFF4E1;
}

.container > div {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.grid-item {
    border: 1px solid lightgray;
}

.header{
    background-color: #9ADCFF;
}

.menu {
    background-color: #FFF89A;
}

.content {
    background-color: #FFB2A6;
}

.footer {
    background-color: #B4ECE3;
}